.Nav{
  display: flex;
  justify-content: space-between;
  height: 68px;
  background-color:cadetblue;
}

.Title{
  text-align: center;
  margin: 20px;
  background: linear-gradient(
    to bottom,
    #FF9933 0%,    /* Saffron top */
    #FF9933 43%,
    white 43%,
    white 68%,
    #138808 68%,   /* Green bottom */
    #138808 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link{
  display: inline-block;
  margin: 15px 10px 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
}

.link:hover{
  transform: scale(1.04, 1.04);
}

.logo {
  height: 4em;
  padding-left: 1em;
  padding-top: 0.1em;
  border-radius: 100%;
}

.About{
  padding: 0.5% 15% 0 15%;

  font-weight: bold;
  font-size: x-large;

  /*
  padding: 0 20% 0 20%;*/
}

.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
  justify-items: center; /* center each card */
  column-gap: 7em; /* replaces row-gap, also adds col-gap */
  row-gap: 4em;
  margin: 5em auto 0 auto; /* centers the grid horizontally */
  padding: 0 1em; /* small padding for mobile */
  
 /* margin: 5em 0 0 12em;
  row-gap: 3.5em;*/
}

.Card{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 0.25em groove #c90e49;

  max-width: 18em;
  max-height: 21em;
  width: 100%;

  background-color: rgb(115, 0, 255);  
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8), -1.5em 1em 20px rgba(0, 0, 0, 0.9);             

  /*width: 17em;*/
}

.images{
  width: 100%;
  height: 85%;

  border: 0.1em outset rgb(0, 0, 0);

  /*height: 13em;*/
}

.product{
  font-weight: bold;
}

.Founder{
  display: block;
  max-width: 17em;
  height: auto;
  margin: 3em auto 0 auto;
  
  /* width: 17em;
  margin: 3em 0 0 40%; */
}

footer{
  margin-top: 5em;
  background-color: antiquewhite;
}


@media (max-width: 650px){
  .main{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
  }
}

/* @media (max-width: 600px){
  .main{
    grid-template-columns: 1fr;
  }
} */

/* @media (max-width: 768px){
  h1.Title{
    font-size: 2.5em;
  }
  .Nav{
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .link{
    margin: 10px;
    font-size: 1.2em;
  }
} */






/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
